include ./mixins.jade


+ko('with : widgetConfig')
  .attr_editor
    .container-fluid
      .row
        .menu
          +ko('if : node')
            .h4(data-bind="text: node().description")

    //- 这里需要显示各种不同的可修改内容，
    //- 需要思考一下

    .container-fluid
      +ko('if : node')
        .row(data-bind="if: node().text")
          +panel('text')
            textarea.form-control(data-bind="autoscale: node().text",wrap="off",readonly)

        .row
          .panel.panel-default
            .panel-heading
              .h4.form-inline
                | css - : 
                +ko('foreach : unit_types')
                  label.radio
                    input(type="radio", data-bind="value: $data, checked : $parent.unit_type")
                    span(data-bind="text : $data")
                  |  
                +ko('if : unit_type() == "rem"')
                  label
                    input.form-control(type="text", data-bind="value: rem_base", 
                                       style="width:20px; height: auto; padding:0;")
                    | px
            panel-collapse
              .panel-body
                textarea.form-control(data-bind="autoscale : css",wrap="off",readonly)

        .row
          .panel.panel-default
            .panel-heading
              .h4.form-inline
                | html - :
                +ko('foreach : html_types')
                  label.radio
                    input(type="radio", data-bind="value: $data, checked : $parent.html_type")
                    span(data-bind="text : $data")
                  | &nbsp;
                label.checkbox
                  input(type="checkbox", data-bind="checked: with_root")
                  span with root
                | &nbsp;
                label.checkbox
                  input(type="checkbox", data-bind="checked: text_middle")
                  span text middle

            .panel-collapse
              .panel-body
                textarea.form-control(data-bind="autoscale : html",wrap="off",readonly)
 
        .row
          +panel('attrs')
            table.table.table-striped
              tbody(data-bind='foreach : attributes')
                tr
                  td
                    label(data-bind="text:$data.key")  
                  td
                    +ko('if : $data.type_info')
                      +ko('if : $data.type_info.enum')
                        +ko('foreach : $data.type_info.enum')
                          label
                            input(type="radio", data-bind="value: $data, checked : $parent.value")
                            span(data-bind="text : $data")

                    +ko('ifnot : $data.type_info')
                      input.form-control(data-bind="value:$data.value")

