include ./mixins.jade


script#folder-template(type='text/html')
  ul.jstree-children(data-bind="foreach: nodes")
    +ko("template: { name: 'node-template', data: $data }")

script#node-template(type='text/html')
  li.jstree-node(data-bind="css: {\
                              'jstree-open': isExpanded() && nodes().length > 0,\
                              'jstree-closed': !isExpanded() && nodes().length > 0,\
                              'jstree-leaf': nodes().length === 0,\
                              'jstree-last': !$parents[1] || ($parents[1].nodes && $parents[1].nodes().slice(-1)[0] == $data)\
                            }")
    i.jstree-icon.jstree-ocl(data-bind="click: toggleVisibility")
    +ko('if: name')
      span.jstree-node-name(data-bind="text: name, \
                                        attr: { 'title': description },\
                                        click: showContent")
    +ko('if: nodes().length !== 0 && isExpanded() ')
      +ko("template: { name: 'folder-template', data: $data }")


.tabset-wrap
  div
    .tabset.container-fluid
      +ko('with:widgetTree')
        .row
          .col-sx-12
            b 资源根目录：
            |  
            span(data-bind="text:res_root")
            |  
            a.btn.btn-default.btn-xs(data-bind='click:change_res_root') change

.file-tree-wrap
  .file-tree-container
    .heading 文件目录
    .jstree-default.file-tree(data-bind='')
      +ko('if : widgetTree.treeData ')
        ul.jstree-container-ul(data-bind='template:{name : "folder-template", data :widgetTree.treeData}')

#change_res_root_modal.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      +ko('with:widgetTree')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          |         
          h4.modal-title 变更资源根目录
        .modal-body
          +ko('if:save_res_root_failed')
            p.bg-danger(data-bind="text:save_res_root_failed")

          .form
            input.form-control(data-bind="value:temp_res_root")
        .modal-footer
          button.btn.btn-primary(type='button', data-bind="click:save_res_root") 确认
          |         
          button.btn.btn-default(type='button', data-dismiss='modal') 取消

