<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  style.
    .pin{
      position: absolute;
    }
  
  each node, idx in nodes
    if !node
      - console.log( node, idx, nodes.length );
    if node.src
      img.pin(style="#{obj_to_style_str(node)}",src="#{'/node_source?node_path=' + node.src}")
    if node.effect
      if node.effect.color_overlay
        - var color_overlay = node.effect.color_overlay;
        .pin(style="#{obj_to_style_str(node) + 'background-color:' + color_overlay.color + '; -webkit-mask-image: url(/node_source?node_path=' + encodeURI(node.src)  +')' }")

  script(src="/javascripts/livereload.js")
